fieldset {
    border: 2px solid black;
    width: 400px;
    float: center;
    background-color: gray;
}

label {
    display: block;
    width: 50%;
}

#view {
    width: 100%;
    border: none;
}

#prodSubmit {
    float: right;
    margin-bottom: 20px;
}

.todo {
    justify-content: center;
    align-items: center;
    display: flex;
}

h1 {
    align-items: center;
}

#logout {
    float: right;
}